# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value. Try using both the bootstrapping and the frequentist statistical approaches.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet

#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
+ Formulas for the Bernoulli distribution: https://en.wikipedia.org/wiki/Bernoulli_distribution

In [30]:
import pandas as pd
import numpy as np
from scipy import stats as s
import seaborn as sns

In [3]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [4]:
# number of callbacks for black-sounding names
sum(data[data.race=='w'].call)

235.0

In [5]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

<div class="span5 alert alert-success">
<p>Your answers to Q1 and Q2 here</p>
</div>

In [6]:
w = data[data.race=='w']
b = data[data.race=='b']

In [7]:
# Your solution to Q3 here

<div class="span5 alert alert-success">
<p> Your answers to Q4 and Q5 here </p>
</div>

In [8]:
data['race']

0       w
1       w
2       b
3       b
4       w
5       w
6       w
7       b
8       b
9       b
10      b
11      w
12      b
13      w
14      b
15      w
16      w
17      b
18      w
19      b
20      b
21      w
22      w
23      w
24      w
25      b
26      b
27      w
28      b
29      b
       ..
4840    b
4841    b
4842    b
4843    w
4844    b
4845    w
4846    w
4847    w
4848    b
4849    b
4850    b
4851    w
4852    w
4853    b
4854    w
4855    w
4856    b
4857    b
4858    b
4859    b
4860    w
4861    w
4862    w
4863    w
4864    b
4865    b
4866    b
4867    w
4868    b
4869    w
Name: race, Length: 4870, dtype: object

In [12]:
data.iloc[:10,10:30]

,occupbroad,workinschool,email,computerskills,specialskills,firstname,sex,race,h,l,call,city,kind,adid,fracblack,fracwhite,lmedhhinc,fracdropout,fraccolp,linc
0,1,0,0,1,0,Allison,f,w,0.0,1.0,0.0,c,a,384.0,0.989360,0.005500,9.527484,0.274151,0.037662,8.706325
1,6,1,1,1,0,Kristen,f,w,1.0,0.0,0.0,c,a,384.0,0.080736,0.888374,10.408828,0.233687,0.087285,9.532859
2,1,1,0,1,0,Lakisha,f,b,0.0,1.0,0.0,c,a,384.0,0.104301,0.837370,10.466754,0.101335,0.591695,10.540329
3,5,0,1,1,1,Latonya,f,b,1.0,0.0,0.0,c,a,384.0,0.336165,0.637370,10.431908,0.108848,0.406576,10.412141
4,5,1,1,1,0,Carrie,f,w,1.0,0.0,0.0,c,a,385.0,0.397595,0.180196,9.876219,0.312873,0.030847,8.728264
5,4,0,0,0,1,Jay,m,w,0.0,1.0,0.0,c,s,386.0,0.336165,0.637370,10.431908,0.108848,0.406576,10.412141
6,1,1,1,1,1,Jill,f,w,1.0,0.0,0.0,c,s,386.0,0.002796,0.952140,10.453601,0.236445,0.124980,9.621058
7,5,0,1,1,1,Kenya,f,b,1.0,0.0,0.0,c,a,385.0,0.116624,0.728339,10.287047,0.139843,0.365636,9.933725
8,6,0,0,1,1,Latonya,f,b,0.0,1.0,0.0,c,s,386.0,0.080736,0.888374,10.408828,0.233687,0.087285,9.532859
9,4,1,1,0,1,Tyrone,m,b,1.0,0.0,0.0,c,s,386.0,0.992043,0.004814,8.841738,0.295093,0.053182,8.507345

In [13]:
# 0/1 column of mismatched interviews, mean
# 0/1 column misidentified subject, correlation with interview-0/1 and job offer-0/1

# null hypothesis, discrimination exists
# the correlation should be high enough, how high? 
# mean high
# should i look at the distribution beforehand?

In [24]:
data.call[data.race == 'b']
# alternative way of subsetting: data[data.race=='w'].call
# call values for race == b, list of values for which race == b

2       0.0
3       0.0
7       0.0
8       0.0
9       0.0
10      0.0
12      0.0
14      0.0
17      0.0
19      0.0
20      0.0
25      0.0
26      0.0
28      0.0
29      0.0
31      0.0
33      0.0
36      0.0
37      0.0
38      0.0
41      0.0
44      0.0
45      0.0
47      0.0
49      0.0
50      0.0
53      0.0
55      0.0
57      0.0
59      0.0
       ...
4808    0.0
4812    0.0
4815    0.0
4818    0.0
4820    0.0
4821    0.0
4823    0.0
4825    0.0
4827    0.0
4828    0.0
4832    0.0
4833    0.0
4835    0.0
4837    0.0
4840    0.0
4841    0.0
4842    0.0
4844    0.0
4848    1.0
4849    0.0
4850    0.0
4853    0.0
4856    0.0
4857    0.0
4858    0.0
4859    1.0
4864    0.0
4865    0.0
4866    0.0
4868    0.0
Name: call, Length: 2435, dtype: float32

In [29]:
call_b = data.call[data.race =='b']
call_w = data.call[data.race =='w']

b_mu = np.mean(call_b) # call back rate, success rate
w_mu = np.mean(call_w)

b_tot = len(call_b)
w_tot = len(call_w)

print(b_mu, w_mu)
# 2:
# null: no discrimination
# alt: discrimination

0.0644763857126236 0.09650924056768417

In [39]:
t, p= s.ttest_ind(a=call_b, b=call_w, equal_var=False)
print(t,p)
# reject the null

-4.114705290861751 3.942941513645935e-05

In [31]:
# 3:
se_b = s.sem(call_b)
se_w = s.sem(call_w)
print(se_b,se_w)
# standard errors

0.0049781434352911685 0.005985301397503016

In [33]:
ci_b = s.t.interval(alpha = .95, df = b_tot-1, loc = b_mu, scale=s.sem(call_b))
ci_w = s.t.interval(alpha = .95, df = w_tot-1, loc = w_mu,scale=s.sem(call_w))
print(ci_b,ci_w)

(0.054714549604450616, 0.07423822182079658) (0.08477242903143205, 0.1082460521039363)

In [37]:
# 4:
# with a little rounding we see that the call back mean for a white sounding 
# name is close to double that of a black sounding name where the p val
# is statistically significant
# standard errors are low, half a percent, indicating that the distributions
# are centered closely around the mean
# how do i interpret confidence of sample distributions in this context?
# our t stat being 4 deviations away from the mean, it's safe to say that the alternative 
# hypothesis holds

In [38]:
# 5:
# there are 60 other columns we did not examine, so no. not yet. examine first then make a determination.